html {
  height: 100%;
  box-sizing: border-box;
}
.site-header {
  background-color: rgba(66, 134, 244, .5);
}
footer {
  background-color: yellow;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
