html {
  height: 100%;
  box-sizing: border-box;
}
.site-header {
  background-color: rgb(60, 195, 126);
}

footer {
  background-color: rgb(60, 195, 126);
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
a {
  text-decoration: none;
  color: white;
}
a:visited {
  color: white;
}
