
.center-element {
  text-align: center;
}
.header-container {
  max-width: 100%;
  background-color: yellow;
}
.header-left {
  display: inline-block;
  float: left;
  margin: 1em;
}

.header-right {
  display: inline-block;
  float: right;
  margin: 2em;
}
.header-right .fa {
  font-size: 1.5em;
}
.first-section {
  background-color: rgba();
  border-bottom: 0.5px solid rgb(60, 195, 126);
}
.first-section ul {
  margin-left: -2em;
}
.inline-list {
  display: inline-block;
  list-style: none;
}
.block-list {
  display: block;
  list-style: none;
}
.center-horizontal-margin {

  margin: 0 auto;
}
.page-text {
  width: 60%;
  line-height: 2;
}
#about {
  display: none;
}

#about:nth-child(3) {
  width: 60%;
  line-height: 2;
}
.template {
  display: none;
}
.project-summary article {
  cursor: pointer;
}
.project-details .inner-header{
  background-color: #3CC37E;
  text-align: left;
  padding: 0em;
}
.project-details .inner-header h3{
  padding-top: 0.75em;
  margin-left: 1em;
}
.project-details .projectDescription {
  margin: 1.5em;
  line-height: 1.5em;
}
