/*these are my favicons from the header*/
.fa .fa-bars .top-right-menu{
  font-size: 24px;
}

.main-nav .nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(29, 55, 41, 0.9);
}
.nav-overlay ul li{
  margin: 2em 0;
  font-weight: bold;
  font-size: 2em;
  list-style: none;

}

.home-img-holder {
  height: 14em;
  width: 14em;
  z-index: 2;
  margin:auto;
  margin-top: -7em;
  /**/TODO: delete this
  outline: 1px red solid;
}
.profile-photo {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    border: 0.5em white solid;
    /*z-index: 2;
    margin-top: -2em;*/
}

.projectBackgroundImages {
  background-repeat: no-repeat;
  max-width: 685px;
  height: 12em;
}

.inner-header {
  width: 100%;
  height: 100%;
  background-color: rgba(160, 165, 162, 0.5);
  text-align: center;
  padding: 3em 0;
}

#projects h2{
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 0.75em;
  margin-bottom: -2em;
}

.typewriting {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 4.5s steps(40, end),
    blink-caret .5s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

@media screen and (min-width: 768px){
  .nav-overlay {
    display: block;
    width: 100%;
    list-style: none;
  }
  #projects .project-summary article {
    display: inline-block;
    width: 50%;
    float:left;
  }
.spotlightProj{
  width: 100%;
}

  #projects article.template {
    display: none;
  }

  .spotlightProj article {
    border: 1px red dotted;
    width: 100%;

  }
}
#projects article.template {
  display: none;
}
/*.project-details {
  display: none;
}*/

/*.spotlightProj {
  border: 1px red dotted;
  width: 100%;

}*/
/*.crazy {
  background-color: yellow;
  border: 1em red solid;
}*/
