/*these are my favicons from the header*/
.fa .fa-bars .top-right-menu{
  font-size: 24px;
}

.main-nav .nav-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(29, 55, 41, 0.9);
}
.nav-overlay ul li{
  margin: 2em 0;
  font-weight: bold;
  font-size: 2em;
  list-style: none;

}
/*.main-nav:hover .nav-overlay{
  display: block;
  height: 100%;
  width: 100%;
}*/
/*.main-nav .nav-overlay li:nth-child(1):hover{
  display: block;
  height: 10%;
  width: 10%;
}*/
.profile-photo {
    height: 14em;
    width: 14em;
    border-radius: 60%;
    z-index: 2;
    margin-top: -2em;
}

.projectBackgroundImages {
  background-repeat: no-repeat;
  max-width: 685px;
  height: 12em;
}

.inner-header {
  width: 100%;
  height: 100%;
  background-color: rgba(160, 165, 162, 0.5);
  text-align: center;
  padding: 3em 0;
}



@media screen and (min-width: 768px){
  .nav-overlay {
    display: block;
    width: 100%;
    list-style: none;
  }
  #projects .project-summary article {
    display: inline-block;
    width: 50%;
    float:left;
  }
  /*#projects article:nth-child(even){
    float: right;
  }*/

  #projects article.template {
    display: none;
  }
}
#projects article.template {
  display: none;
}
.project-details .expanded-project-view {
  display: none;
}


.crazy {
  background-color: yellow;
  border: 1em red solid;
}
